body {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
	flex-direction:column;
	background-color:Grey;
}

.chess-piece {
  width:80px;
  height: 80px;

}

#gameboard {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
}

.squere {
	width: 80px;
	height: 80px;
	border-style: solid;
  border-color: black;
	border-width: thin;
}

.dark {
	background-color:HotPink;
}

.light {
	background-color:DarkOrchid;
}

#info {
	height: 30px;
	font-size: 30px;
}
